
body{
  background-color: #000;
  margin-left: 40%; 
  font-family: 'Times New Roman', Times, serif;
   margin-right: 40%;
}

h3,
div{
  text-align: center;
}

.time-display{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
  align-content: center;
  background-color: white;
  border-radius: .4rem;
  padding-left: .5rem;
}


.timer{
  width: 3rem;
  height: 3rem;
  margin-top: .3rem;
  margin-right: 1.0rem;
}

#clock{
  font-size: 3rem;
  font-weight: bold;
  color: black;

}

.alarm-heading{
  color: whitesmoke;
  margin-bottom: 2rem;
  padding-top: 5rem;
}

.set-alarm-field{
  margin-top: -2rem;
  height: 4rem;
  /* background-color: yellowgreen; */
}

.set-alarm{
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  flex-flow: wrap;
}

.controls button{
  background-color: #466a99;
  border-color: #466a99;
  color: whitesmoke;
  width: 10.5rem;
  height: 3.5rem;
  border-radius: .5rem;
  font-size: 0.8rem;
  font-weight:500;
  margin: auto;
}

.controls button:hover{
  background-color: #204b74;
}
.controls button:active{
  background-color: #5900ff;
}

#myList{
  list-style-type: none;
  
}

#myList li{
  font-size: 1.2rem;
  color: whitesmoke;
  background: linear-gradient(90deg,#ff7170 2.34%,#ffe57f 100.78%);
  margin-left: -3rem;
  border-radius: .4rem;
  flex-wrap: wrap;
  height: 15vw;
}

.time-list{
  display: flex;
  flex-direction:column ;
  margin:auto;
  overflow-x: scroll;
  scroll-snap-align:initial;
  align-items: center;
  resize: both;
  min-height: 11rem;
}


.time-list span{
  /* background-color: violet; */
  color: #000;
  width: 11rem;
  margin: auto;
  display: block;
}

.time-list button{
  background-color: #000;
  border-radius: .3rem;
  height: 3.3rem;
  color: whitesmoke;
  margin: auto;
  display: block;
  width: 111px;
}
.time-list button:hover{
    background-color: #302929;
}

.time-list button:active{
    background-color: red;
}
.time-list p{
  background-color: #000;
  border-color: #000;
  border-radius: .3rem;
  color: whitesmoke;
  font-size: 1rem;
  width: 5.5rem;
  margin: auto;
  display: block;
  padding: .6rem;
}
.time-list div{
  background-color: #000;
  border-color: #000;
  border-radius: .3rem;
  color: whitesmoke;
  margin: auto;
  font-size: 1rem;
  padding: .6rem;
  scroll-snap-align: initial;
}
/* 
hjbhvghcvh */
#clockContainer {
  position: relative;
  margin: auto;
  height: 21vw;
  /*to make the height and width responsive*/
  width: 21vw;
  background: url(https://assets.codepen.io/78749/clock-face.png) no-repeat;
  /*setting our background image*/
  background-size: 100%;
}

#hour,
#minute,
#second {
  position: absolute;
  background: black;
  border-radius: 1rem;
  transform-origin: bottom;
}

#hour {
  width: 1.8%;
  height: 25%;
  top: 25%;
  left: 48.85%;
  opacity: 0.8;
}

#minute {
  width: 1.6%;
  height: 30%;
  top: 19%;
  left: 48.9%;
  opacity: 0.8;
}

#second {
  width: 1%;
  height: 40%;
  top: 9%;
  left: 49.25%;
  opacity: 0.8;
}

#string{
  margin-top: 1.1rem;
  border: 2px solid white;
  border-color: #204b74;
  border-top-left-radius:8px ;
  border-bottom-left-radius:8px ;
  padding: .3rem;
  max-width: 12.8vw;
  margin-bottom: 1.8rem;
  display:inline;
  min-width: 9.5rem;
  margin-top: 5rem;
}

#saveString:hover{
  background-color: #204b74;
}

#enter{
  margin-bottom: 1.2rem;
  margin-left: 3.2rem;
  border: .2rem solid #c0add2;
  border-radius: .5rem;
}
.enter #show {
  border: 1px solid red;
  width: 20vw;
  margin-bottom: 1.8rem;
  background-color: #807979;
}

h1{
  background: linear-gradient(90deg,#ff7170 2.34%,#ffe57f 100.78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media(max-width:998px){
 html{
  font-size: 55%;
 }




}

